name: Deploy Dev Only

on:
  push:
    branches: ["main"]

env:
  IMAGE_NAME: osmity/osmity-web-frontend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image (no cache)
        run: |
          docker build --no-cache -t $IMAGE_NAME:dev .

      - name: Push image
        run: |
          docker push $IMAGE_NAME:dev

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/Osmity/dev
            docker compose pull
            docker compose up -d
            docker system prune -f